<section class="section">
  <div class="row">
    <div class="col s12 m12 center spinnerContainer" *ngIf="isLoading">
      <span class="teal-text text-darken-3">Génération en cours...</span>
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col s3 m3 z-depth-3 deps-list" *ngIf="!isLoading">
      <h5>
        <img
          height="30px"
          width="30px"
          class="pers-icons"
          src="https://img.icons8.com/color/50/000000/menu.png"
        />
        Regions Sénégal
      </h5>
      <ul class="collection">
        <li *ngFor="let reg of regions">
          <a [href]="'/regions/' + reg.nom" routerLinkActive="active"
            >Région de {{ reg.nom }}</a
          >
        </li>
      </ul>
    </div>
    <div class="col s9 m9">
      <h5>
        <img
          height="35px"
          width="35px"
          src="https://img.icons8.com/color/48/000000/gps-receiving.png"
        />
        Region de {{ region.nom }}
      </h5>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h6 class="tab">
              <img
                src="https://img.icons8.com/color/48/000000/info.png"
              />Présentation
            </h6>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <table class="col s11 m11 z-depth-3 offset-s1 offset-m1">
              <tbody>
                <tr>
                  <td>
                    Région
                  </td>
                  <td>
                    {{ region.nom }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Superficie
                  </td>
                  <td>{{ superficie }} km²</td>
                </tr>
                <tr>
                  <td>
                    Couverture
                  </td>
                  <td>{{ percCouv }} % soit {{ surfaceCouv }} km²</td>
                </tr>
                <tr>
                  <td>
                    Départements
                  </td>
                  <td>
                    <p *ngFor="let dep of region.departments">
                      <a
                        [routerLink]="[
                          '/regions/' + region.name + '/departments',
                          dep.id_dep
                        ]"
                        >{{ dep.nom }}</a
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <h6 class="tab">
              <img
                src="https://img.icons8.com/color/48/000000/statistics.png"
              />Statistiques
            </h6>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-tab-group class="col s12 m12 offset-s1">
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">event</mat-icon>
                  Evolution de la population 2000-2018
                </ng-template>
                <ng-template matTabContent>
                  <div class="col s12 m12 z-depth-3 stats">
                    <app-chart
                      [chartData]="evPop"
                      [layout]="evPopLayout"
                    ></app-chart>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab class="col s12 m12 ">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">event</mat-icon>
                  Evolution Part de marché 2000-2018
                </ng-template>
                <div class="col s12 m12 z-depth-3 stats">
                  <app-chart
                    [chartData]="evPM"
                    [layout]="evPMLayout"
                  ></app-chart>
                </div>

                <div class="col s12 m12 z-depth-3 stats">
                  <app-chart
                    [chartData]="dataPM2000"
                    [layout]="pM2000Layout"
                  ></app-chart>
                </div>
                <div class="col s12 m12 z-depth-3 stats">
                  <app-chart
                    [chartData]="dataPM2010"
                    [layout]="pM2010Layout"
                  ></app-chart>
                </div>
                <div class="col s12 m12 z-depth-3 stats">
                  <app-chart
                    [chartData]="dataPM2018"
                    [layout]="pM2018Layout"
                  ></app-chart>
                </div>
              </mat-tab>
            </mat-tab-group>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-accordion class="col s12 m12 map">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h6 class="tab">
            <img
              height="28"
              width="28"
              src="https://img.icons8.com/color/48/000000/apple-map.png"
            />Map
          </h6>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-map
            *ngIf="departs && departs.length >= 1"
            [btsExpresso]="btsExpresso"
            [agencesExpresso]="agencesExpresso"
            [btsTigo]="btsTigo"
            [btsOrange]="btsOrange"
            [departs]="departs"
            [covers]="coverZone"
            [addTheLegend]="false"
          >
          </app-map>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
